@model IMS.WEB.ViewModels.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit">Login</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}