<div class="modal fade" id="msgModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 id="modalTitle"></h5>
            </div>

            <div class="modal-body">
                <p id="modalMessage"></p>
            </div>

        </div>
    </div>
</div>